@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap !important;
    overflow: hidden;
}

header .menu_side, .song_side {
    position: relative !important;
    width: 25%;
    height: 90%;
   /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;

}

header .song_side {
    width: 75%;
    background-color: #0b1320;
    right: 0;
}

header .master_play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0 3px 8px #090f1f;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header .menu_side h1{
    font-size: 20px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

header .menu_side .playlist{
    margin: 40px 0px 0px 20px;
}
header .menu_side .playlist h4{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover{
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius:50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color: #36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
    color: #36e2ec;
}

header .menu_side .border hr{
    margin: 40px 20px 0 20px;
    border: 1px solid #4c5262;
}
header .menu_side .menu_song{
    width: 100%;
    height: 300px;
   /* border: 1px solid #fff; */
    margin-top: 40px;
}
header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song li:hover{
    background: rgb(105, 105, 170,.1);
}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight:600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    height: 32px;
    width: 32px;
    margin-left: 25px;

}
header .menu_side .menu_song li h5{
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
}
header .menu_side .menu_song li h5 .artist{
    font-size: 12px;
    font-weight: 400;
    color: #4c5262;
}
header .menu_side .menu_song li h5 .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 20px;
}

header .master_play .wave{
    width: 30px;
    height: 30px;
   /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background: #36e2ec;
    animation: unset;  
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
   /* animation-delay: .4s; */
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
   /* animation-delay: .8s; */
}
/* Javascript class wave */
header .master_play .active2 .wave1{
    animation: wave .5s linear infinite;  
}
header .master_play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .master_play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave{
    0%{ height:10px; }
    50%{ height:15px; }
    100%{ height:10px; }
}

header .master_play img{
    width: 35px;
    height: 35px;
}
header .master_play h5{
    width: 130px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
}
header .master_play h5 .artist{
    color: #4c5262;
}
header .master_play .icon{
    font-size: 24px;
    color: #fff;
    margin: 0 20px 0 40px;
}
header .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2){
    border: 1px solid rgb(105, 105, 170,.1);
    border-radius: 50%;
    padding: 1px 3px 0px 6px;
    margin: 0px 5px 0px 0px;
    transition: .3s linear;
}
header .master_play span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight:400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}
header .master_play .bar{
    position: relative;
    width: 35%;
    height: 2px;
    background: rgb(105, 105, 170,.1); 
    margin: 0 15px 0 10px;
}
header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px #36e2ec;
}
header .master_play .bar input{
    position: absolute;
    width: 100%;
    left: 0;
    top: -6px;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105 , 105, 170,.1)
}
header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
} 
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
} 
header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
}
header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
header .master_play .vol .dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px #36e2ec;
}

header .song_side {
    z-index: 2;
}
header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav #logout{
    cursor: pointer;
    color: #36e2ec
}
header .song_side nav #logout:hover{
    color: #fff;
}
.hidden{
	display: none!important;
}